@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* personally not a huge fan of overwriting native styles like - but didn't want to deal with the scrollbar */
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .active {
    box-shadow: inset 0px -1px 0px 0px #fff;
  }
}
